version: '3.8'

services:
  database:
    image: mysql:8.0.35
    container_name: myclouddb
    environment:
      MYSQL_ROOT_PASSWORD: mycloud
      MYSQL_DATABASE: cloudstoragemanagment
      MYSQL_USER: mycloud
      MYSQL_PASSWORD: mycloud
    ports:
      - "3307:3306"
    networks:
      - mycloud-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  backend:
    image: webapp-mycloud-backend2
    container_name: mycloud-backend-2
    ports:
      - "8081:8080"
    environment:
      MYSQL_HOST: database
      MYSQL_USER: mycloud
      MYSQL_PASSWORD: mycloud
      MYSQL_PORT: 3306  # MySQL runs on port 3306 inside the container
    networks:
      - mycloud-net
    depends_on:
      database:
        condition: service_healthy
    entrypoint: ["/wait-for-db.sh", "database", "3306", "java", "-jar", "your-backend-application.jar"]

  frontend:
    image: webapp-mycloud-frontend2
    container_name: mycloud-frontend-2
    ports:
      - "3000:3000"
    networks:
      - mycloud-net
    depends_on:
      - backend

networks:
  mycloud-net:
    driver: bridge
